* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100;
}
html {
    font-family: sans-serif;
}
.header {
    height: 90px;
}
.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.btn{
    background-color: black;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 30px 60px 0px rgba(163, 168, 178, 0.15);
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.basket-btn{ 
    display: block; 
    background-position: center;
}


.header-container {
    display: flex;
    align-items: center;
    height: 100px;
}
.logo{
    margin-right: auto;
}
.nav-list{
    display: flex;
}
.nav-item:not(:last-child){
    margin-right: 100px;
}
.header-btn {
    margin-left: 60px
}
.img-item {
    margin-right: 40px;
    
}