* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100;
}
html {
    font-family: sans-serif;
}
.header {
    height: 10px;
}
.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}
.header-container {
    display: flex;
    align-items: center;
    height: 0;
}
.logo{
    margin-right: auto;
}
.nav-list{
    display: flex;
}
.nav-item:not(:last-child){
    margin-right: 100px;
}
.header-btn {
    margin-left: 60px
}