* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100;
}
html {
    font-family: sans-serif;
}
.header {
    height: 90px;
}
.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.img-item{
    width: 56px;
    height: 56px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    text-align: center;
}
.basket-btn{
    display: block; 
    background-position: center;
}
.header-container {
    display: flex;
    align-items: center;
    height: 100;
}
.logo{
    margin-right: auto;
}
.nav-list{
    display: flex;
}
.nav-item:not(:last-child){
    margin-right: 100px;
}
.header-btn {
    margin-left: 60px
}
.img-item {
    margin-right: 60px;
    
}